body {
  background-color: beige;
  background-image: url("https://p7.itc.cn/images01/20211014/5845d42e6bf54f5eb207389d18369489.jpeg");
  background-size: 150px;
}

h1.Head {
  background-color: rgb(43, 164, 173);
  border-radius: 100px;
  margin: 20px;
  padding: 10px 15px 10px 15px;
  color: white;
  opacity: 0.8;
  font-size: 40px;
  font-family: Verdana;
  text-align: center;
}

p.Intro {
  color: black;
  border: 5px dotted rgb(43, 164, 173);
  border-radius: 100px;
  margin: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-size: 35px;
}

b.WebLink {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
  background-color: rgb(43, 164, 173);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(97, 189, 180);
}

table {
  width: 100%;
  background-color: antiquewhite;
  border-radius: 10px;
}

tr:hover {
  background-color: rgb(224, 190, 139);
}

th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  border-radius: 10px;
  font-size: 20px;
}
